<h1>User View after login</h1>
<hr>

<% if @user.present? %>
    <%= @user.id %> <%= @user.name %>
    <hr>
    <%= link_to "Create Post", new_post_path %>
    <hr>
    <%= link_to "Show All Post", showall_path %>
    <%= link_to "Show My Post", mypost_path %>
    <%= link_to "Edit User", edit_user_path(@user) %>
    <%= link_to "Delete User", user_path(@user),method: :delete, data:{confirm: 'Are you sure?'} %>
    <%= link_to "Logout", logout_path %>
    <hr>
<% else %>
    <h2>You are logged out, Please Login again!!</h2>
<%end%>
