<% if @post.present? %>
<h1>Display Post's Information</h1>
<hr>
    <%for p in @post %>
    <hr>
       <label for="Post_Id">Post Id:-</label> <%= p.id %><br/>
        <label for="Post">Post:-</label> <%= p.post %><br/>
        <label for="Creation_Time">Creation Time:-</label> <%= p.created_at %><br/>
        <label for="user">User Name:-</label> <%= @user.name %><br/>
        <hr>
        <%= link_to "Edit", edit_post_path(p) %>
        <%= link_to "Delete", post_path(p),method: :delete, data:{confirm: 'Are you sure?'} %>
        <%= link_to "Show All Post", showall_path %>
        <%= link_to "Logout", logout_path %>
    <%end%>
<% else %>
    <h2>No Posts are there!!</h2>
<% end %>
