<h1>New Post</h1>
<hr>
    <%= simple_form_for @post, url: '/posts/create', method: :post do |f| %>
  <%= f.input :post %><br/>
  <%= f.submit 'Save'  %>
  <hr>
  <%= link_to "Show All Post", showall_path %>
  <%= link_to "Show My Post", mypost_path %>
  <%= link_to "Logout", logout_path %>
<% end %>
