<h1>All Post Page</h1>
<hr>
    <% for p in @posts %>
    <hr>
        <% ps = p.post %>
        <%= link_to "#{ps}", post_path(p) %><br/>
        <% if p.user_id==@user.id%>
            <%= link_to "Edit", edit_post_path(p) %>
            <%= link_to "Delete", post_path(p),method: :delete, data:{confirm: 'Are you sure?'} %>
        <%end%>
        <hr>
<% end %>
<hr>
<%= link_to "New Post", new_post_path %>
<%= link_to "Show My Post", mypost_path %>
<%= link_to "Logout", logout_path %>
<hr>