<% if @post.present? %>
<h1>Display Post's Information</h1>
<hr>
       <label for="Post_Id">Post Id:-</label> <%= @post.id %><br/>
        <label for="Post">Post:-</label> <%= @post.post %><br/>
        <label for="Creation_Time">Creation Time:-</label> <%= @post.created_at %><br/>
        <label for="user">User Name:-</label> <%= @usersh.name %><br/>
        <hr>
        <% if @post.user_id==@user.id%>
            <%= link_to "Edit", edit_post_path(@post) %>
            <%= link_to "Delete", post_path(@post),method: :delete, data:{confirm: 'Are you sure?'} %>
        <%end%>
        <%= link_to "Show All Post", showall_path %>
        <%= link_to "Show My Post", mypost_path %>
        <%= link_to "Logout", logout_path %>
<% else %>
    <h2>No Posts are there!!</h2>
<% end %>
