
<% if @user.present? %>
<h1>User Creation Successfull</h1>
<hr>
        <%= @user.name %><br/>
        <%= @user.email %><br/>
        <%= @user.mobile_no %><br/>
        
        <%= link_to "Home", users_path %>
<% else %>
    <h2>User Creation Unsuccessfull</h2>
<% end %>

