<h1>User edit Page</h1>
<hr>
<h1>Edit User</h1>
<% if @user.present? %>
<hr>
        <%= simple_form_for @user do |f| %>
        <%= f.input :name, label_html: { class: 'my_class' } %><br/>
        <%= f.input :email, placeholder: 'user@domain.com' %><br/>
        <%= f.input :mobile_no, input_html: { maxlength: 10 } %><br/>
        <%= f.input :password, hint: false, error_html: { id: 'password_error'} %><br/>
        <%= f.input :password_confirmation %>
        <%= f.button :submit %>
        <% end %>
<hr>
<%= link_to "Logout", logout_path %>
<%end%>
