<h1>User login Page</h1>
<hr>
   
<%= simple_form_for @user, url: '/login', method: :post  do |f| %>
  <%= f.input :email, placeholder: 'user@domain.com' %><br/>
  <%= f.input :password, hint: false, error_html: { id: 'password_error'} %><br/>
  <%= f.submit 'SignIn' %>
<% end %>
