<h1>New Login Page</h1>
<hr>
   
<%= simple_form_for @user, url: '/users', method: :post  do |f| %>
  <%= f.input :name, label_html: { class: 'my_class' } %><br/>
  <%= f.input :email, placeholder: 'user@domain.com' %><br/>
  <%= f.input :mobile_no, input_html: { maxlength: 10 } %><br/>
  <%= f.input :password, hint: false, error_html: { id: 'password_error'} %><br/>
  <%= f.input :password_confirmation %>
  <%= f.submit 'Create User' %>
  <p>
   <b>Password----<br/> 
   * Must contain 8 or more characters<br/>
    * Must contain a digit<br/>
    * Must contain a lower case character<br/>
    * Must contain an upper case character<br/>
    * Must contain a symbol</b>
  </p>
<% end %>
