.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Posts li{
    display: inline-block;
    margin: 20px;
}