<h1>Edit Post</h1>
<% if @post.present? %>
<hr>
        <%= form_for @post do |f| %>
        <%= f.text_field :name %>
        <%= f.text_field :comment %>
        <%= submit_tag "Update" %>
    <%end%>
<%end%>