<h1>New Post</h1>
<hr>
    <%= form_for :post, url: {action: "create"}, html: {class: "test"} do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :comment %>
  <%= submit_tag "Create" %>
<% end %>
<hr>
Display All Student's Information
<% if !@posts.blank? %>
    <% for p in @posts %>
        <%= p.name %><br/>
        <%= p.comment %><br/>
<% end %>
<%else%>
<%end%>