
<% if @post.present? %>
<h1>Display Student's Information</h1>
<hr>
        <%= @post.name %><br/>
        <%= @post.comment %><br/>
        <%= link_to "Edit", edit_post_path(@post) %>
        <%= link_to "delete", post_path(@post),method: :delete %>
<% else %>
    <h2>No Posts are there!!</h2>
<% end %>
