<h1>Display All Student's Information</h1>
<hr>
    <% for p in @posts %>
        <%= p.id %><br/>
        <%= p.name %><br/>
        <%= p.comment %><br/>
        <%= link_to "Edit", edit_post_path(p) %>
        <%= link_to "Delete", post_path(p),method: :delete %>
        <hr>
<% end %>
<%else%>
    <h2>No Posts are there!!</h2>
<%end%>